fieldset
  legend Please Login

  form(action = '/login' method = 'post')

    label#lb-user-name(for = 'user-name')  User Name:

    input#user-name(name       = 'user'
                    type       = 'text'
                    autofocus  = true
                    size       = 13
                    maxlength  = 12
                    pattern    = '[A-z0-9-]{2,12}'
                   )

    br

    label#lb-pwd(for = 'pwd')   Password:

    input#pwd(name      = 'pwd'
              type      = 'password'
              size      = 13
              maxlength = 12
             )

    br

    input(value = 'Login'
          type  = 'submit'
         )

a(href="/new_user") New User
