/************************************************************************/
/*                           Global styles                              */
/************************************************************************/

#banner {
    /* font:               small-caps 50px/50px "Times New Roman", serif; */
    font:               small-caps 40pt Georgia, serif;
    color:              #008;
    text-align:         center;
    background:         #09c;
    padding-top:        0.1em;
    padding-bottom:     0.22em;
    border-bottom:      4px solid #008;
    margin:             0;
}

#main {
    /*float:              left;*/
    width:              85%;
    text-align:         center;
    padding:            1em;
    border:             0;
    /*border:             1px solid red;*/
    border:		4px solid #008;
    margin:             0 auto;
    background:         #ffc;
}


#footer {
    width:              70%;
    text-align:         center;
    clear:              both;
    background:         #eee;
    border:		4px solid #ddd;
    /*border-top:         4px solid #008;*/
    font:               normal smaller sans-serif;
    margin:             0 auto;
}

#notice {
    font:               bold smaller sans-serif;
    background-color:   #eee;
    border:             2px solid red;
    padding:            1em;
    margin-bottom:      2em;
}

/************************************************************************/
/*                       Standard Content Syles                         */
/************************************************************************/

/* Styles for main page */
body {
    width:              1010px;
    background:         #bbb;
}

/* Main Content Headers */
h1 {
    font:               22pt 'Georgia', serif;
    color:              #22b;
    border-bottom:      1px solid #77d;
}

/* Content Sub-Headers */
h2 {
    font:               16pt 'Georgia', serif;
    color:              #22b;
    border-bottom:      1px solid #77d;
    width:              20em;
}

/* Content Sections */
h3 {
    font:               12pt 'Times Roman', serif;
    color:              #22b;
    display:            inline;
    width:              20em;
}


/* Display Table */
table.std_list {
    width:              100%;
    text-align:         left;
}

table.std_list th {
    border-bottom:      1px solid #000;
}

table.std_list tr.odd-line {
    /*background:         #fff;*/
}

table.std_list tr.even-line {
    background:         #ccc;
}

table.std_list tr.hilite {
    background:         #fdd;
}

table.std_list tr td {
    /*font:               normal normal 10pt 'Ariel', sans-serif;*/
    font:               10pt sans-serif;
}


/* Forms */
td.label {
    font:               normal bold 12pt 'Times Roman', serif;
}

td.value {
    font:               normal normal 10pt 'Ariel', sans-serif;
}


ul.menu li {
    text-align:         center;
    list-style-type:    none;
    padding:            0.5em;
    margin:             0;
    display:            inline;
    border:		1px solid #000;
}
